<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>OTTER!!</title>
</head>
<body>
<div id="row">
    <div class="panel panel-default">
      <div class="panel-heading">
         <h2><%= otter.name %></h2>
         <h4><a href="/">See other Otterss</a></h4>
      </div>
    </div>
    <div class="panel-body">
    <h4>More about <%= otter.name %>:</h4>
    <ul>

        <li>Age: <%= otter.age %></li>
        <li>Size: <%= otter.size %></li>
    </ul>
    <button class="btn btn-default"><a href="/<%= cat.id %>/edit">Edit</a></button>
    <form action="/<%= otter.id %>/destroy" method="post"><input type="submit" value="Delete" class="btn btn-default"></form>
    </div>

</div>
</body>
</html>
